@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  background-color: black;
}

header {
  color: white;
  background-color: black;
  font-size: 20px;
  display: flex;
  font-family: "Questrial";
}
.LogoImage {
  margin-left: 20px;
}
.TabButton {
  padding: 50px;
  width: 50px;
  color: white;
}

.TabList {
  margin-top: 75px;
  margin-left: 30%;
  height: 50px;
}

.VideoContainer {
  text-align: center;
}
.VisualizerVideo {
  width: 80%;
  /* max-width: 100%; */
  height: auto;
}
.PageTitle_name {
  font-size: 45px;
  color: white;
  font-family: "Questrial";
}
.PageTitle_introduction {
  margin-top: 10px;
  font-size: 23px;
  color: white;
  font-family: "Questrial";
}
.PageBody {
  margin-top: 70px;
  margin-left: 120px;
}
.PortfolioList {
  margin-top: 70px;
  margin-left: 120px;
  display: flex;
  flex-wrap: wrap;
}

/*포트폴리오 입력 사진 썸네일 사이즈를 446 X 446으로 가정*/
.PortfolioElement {
  max-width: 330px;
  margin-left: 70px;
}

.PortfolioSub {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  font-family: "Questrial";
  color: white;
}
.PortfolioPageSub {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Questrial";
  color: black;
}
.PortfolioName {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-family: "Questrial";
  color: white;
}
.PortfolioPageName {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 60px;
  font-family: "Questrial";
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
.BusinessCard {
  background-color: #d9d9d9;
  padding-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
}
.LogoContainer {
  text-align: center;
}
.CorpInfoContainer {
  margin-left: 15%;
  font-size: 20px;
  font-family: "Questrial";
}
.CorpInfo {
  margin-bottom: 20px;
}
.RequestButtonContainer {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.RequestButton {
  cursor: pointer;
  border: none;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #d9d9d9;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  font-size: 20px;
  font-family: "Questrial";
}
.RequestButton:hover {
  background-color: #b0b0b0;
}
.FooterLogo {
  margin-left: 70px;
}
.MyFooter {
  margin-top: 150px;
  background-color: #161616;
  display: flex;
}
.FooterInfo {
  margin-top: 30px;
  margin-left: 50px;
  color: white;
  font-size: 16px;
  font-family: "Questrial";
}
.FooterBorder {
  height: 60px;
  margin-top: 45px;
  margin-left: 100px;
}
.FooterCopyright {
  margin-top: 90px;
  margin-right: 40px;
  color: white;
  font-size: 16px;
}
.RequestLink {
  color: black;
}
.RequestForm {
  margin-left: 25%;
  margin-right: 20%;
  font-size: 15px;
  color: white;
  font-family: "Questrial";
}
.RequestCategoryBtn {
  margin-top: 20px;
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-family: "Questrial";
}
.RequestInput {
  margin-top: 25px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
  height: 30px;
}
.RequestInput_Requester {
  width: 150px;
}
.RequestInput_Email_Address {
  width: 200px;
}
.RequestInput_Phone_Number {
  width: 150px;
}
.RequestInput_Title {
  width: 60%;
}
.RequestInput_Contents {
  width: 60%;
  height: 350px;
  resize: none;
}
.AttachmentBtn {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  font-family: "Questrial";
}
.SubmitBtn {
  margin-left: 62%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  font-size: 17px;
  font-family: "Questrial";
}
.PortfolioFrame {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
}

.PortfolioSynopsis {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.PortfolioPageIntroduction {
  margin-left: 20%;
  font-family: "Questrial";
  font-size: 17px;
}
.PortfolioPageBorder1 {
  margin-top: 150;
  margin-bottom: 150;
  height: 1;
  background: black;
}
.PageControlBtn {
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-family: "Questrial";
}
.portfolio-slide__image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@import "react-slideshow-image/dist/styles.css";
