@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  margin-left: 20px;
  background-color: gray;
}

header {
  color: white;
  font-size: 20px;
  display: flex;
  font-family: "Questrial";
}

.TabButton {
  padding: 50px;
  width: 50px;
  color: white;
}

.TabList {
  margin-top: 75px;
  margin-left: 30%;
  height: 50px;
}

.VideoContainer {
  text-align: center;
}
.VisualizerVideo {
  width: 80%;
  /* max-width: 100%; */
  height: auto;
}
.PageTitle_name {
  font-size: 45px;
  color: white;
  font-family: "Questrial";
}
.PageTitle_introduction {
  margin-top: 10px;
  font-size: 23px;
  color: white;
  font-family: "Questrial";
}
.PageBody {
  margin-top: 70px;
  margin-left: 120px;
}

/*포트폴리오 입력 사진 썸네일 사이즈를 446 X 446으로 가정*/
.PortfolioElement {
  max-width: 330px;
  margin-left: 70px;
}

.PortfolioSub {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  font-family: "Questrial";
  color: white;
}
.PortfolioName {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-family: "Questrial";
  color: white;
}
