.wrapper {
  border: 3px solid blue;
}

.container {
  // background-color: pink;
  color: white;
  // width: 80%;
  text-align: center;

  width: 60%;
  margin: 0 auto;
}

.barCompleted {
  background-color: lightblue;
  width: 80%;
}

.label {
  font-size: 20px;
  color: green;
}
.portfolio-slide__image {
  width: 350px;
  height: 525px;
  object-fit: cover;
}

.image-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-slide .portfolio-slide__image {
  width: calc(50% - 10px);
  margin: 5px;
}

@media (min-width: 768px) {
  .image-slide .portfolio-slide__image {
    width: calc(25% - 10px);
  }
}

.PortfolioBottomImage {
  width: 300px;
  height: 300px;
}
