@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  padding: 20px;
  background-color: gray;
}

header {
  color: white;
  font-size: 20px;
  display: flex;
  font-family: "Questrial";
}

.TabButton {
  padding: 50px;
  width: 50px;
  color: white;
}

.TabList {
  margin-top: 75px;
  margin-left: 35%;
  height: 50px;
}

.VideoContainer {
  text-align: center;
}
.VisualizerVideo {
  width: 80%;
  /* max-width: 100%; */
  height: auto;
}
