@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  padding: 20px;
  background-color: black;
}

header {
  color: white;
  font-size: 20px;
  display: flex;
  font-family: "Questrial";
}

.TabButton {
  padding: 50px;
  width: 50px;
}

.TabList {
  /* background-color: orange; */
  margin-top: 75px;
  margin-left: 25%;
  height: 50px;
}
